button{
    color: rgb(66, 3, 66);
    background-color:rgb(251, 255, 0);
    height:50px;
    width:50px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    cursor: pointer;
    margin-right: 9px;
    border-radius: 3px;
    border:2px solid rgb(83, 13, 83);
    transition: all 0.15s;
}
button:hover{
    box-shadow: 5px 5px 13px rgb(211, 197, 197);
}
button:active{
    background-color: rgb(233, 223, 89);
}
.left{
    position: relative;
    top: 10px;
    left:-12px;
}
.left_french{
    position: relative;
    top:18px;
    left:-20px;
}
.right{
    position: relative;
    top:10px;
    left:2px
}
.right_sp{
    size:5px;
    position: relative;
    top:1.6px;
    left:10px
}
.top{
    position: relative;
    top: -12px;
    left:-4px;
}
.top_zero{
    position: relative;
    top:-4px;
    left:-8px;
}
sup{
    vertical-align: 15px;
}
#tab{
    height: 50px;
    width:70px
}
#capslock{
    height: 50px;
    width: 92px;
}
#spacebar-button{
    height: 50px;
    width:444px;
}
#shift{
    height: 50px;
    width:50px;
}
#windows{
    height: 20px;
    width: 20px;
    mix-blend-mode: multiply;
}
#uparrow{
    height:25px;
    width:50px;
}
#downarrow{
    height: 25px;
    width: 50px;
}
.backspace{
    height:50px;
    width:90px;
    font-size: small
}
.dropbtn {
    background-color:rgb(227, 243, 0);
    margin-left: -50px;
    color: rgb(70, 23, 70);
    padding: 16px;
    width: 160px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(227, 243, 0);}
.textarea-style{
    background-color:rgb(163, 255, 163);
    color:black;
    border: none;
    height:140px;
    width:900px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:22px;
    border-radius: 10px;
}
.enter{
    height: 50px;
    width: 70px
}
.enter:hover{
    box-shadow: none;
}
.enter:active{
    background-color: rgb(78, 248, 78);
}
.enter_w{
    margin-top: -11.6px;
    border-top: 0px;
    border-radius: 0px;
    width:48px;
    height: 61.5px;
}
.enter_w:hover{
    box-shadow: none;
}
.enter_w:active{
    background-color: rgb(78, 248, 78) ;
}
.shift1{
    height: 50px;
    width: 148px;
}
.div1{
    margin:10px 530px}
#sign{
    height:50px;
    width:38px
}
body{
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    padding: 100px;
}
.textarea{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-shrink: 0;
}
.keyboard{
    background-color: rgb(132, 208, 238);
    height: 300px;
    border-radius:5px;
    width:870px;
    margin-left: 60px;
    padding-top: 10px;
    transition: all 0.15s;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content:center;
    border: 2px solid  rgb(45, 165, 212);
}
.numbers,.alphabets,.alphabets1,.alphabets2,.spacebar{
    display: flex;
    flex:1;
    margin-bottom: 10px;
    flex-direction: row;
    row-gap: 12px;
    justify-content: center;
}
.arrow{
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
}
.header{
    margin-left: -9px;
    margin-top: -8px;
    background-color: rgb(227, 243, 0); 
    display: flex;
    flex: 1;
    justify-content: space-between;
    height:70px;
    border-radius: 5px;
    margin-right: -8px;
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    height:90px;
    z-index: 100;
}
.left-text{
    color: rgb(77, 20, 77);
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.main-container{
    height:100px;
    margin-left: -8px;
    margin-top: -5px;
}
.right-section{
    display:flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.qwerty{
    background-color:rgb(227, 243, 0);
    width: 110px;
    border: none;
    padding: 10px;
    border-radius: 5px ;
    color:rgb(70, 23, 70);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.qwerty:active{
    background-color:rgb(227, 243, 0) ;
    color: rgb(70, 23, 70);
    border:none;
}
.layout{
    background-color: rgb(227, 243, 0);
    color: rgb(70, 23, 70);
    margin-right: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.layout:active{
    background-color: rgb(227, 243, 0);
    color: rgb(70, 23, 70);
    border: none;
}
.hamburger{
    font-size: 35px;
    margin-right:20px;
    align-items: center;
    margin-left: 30px;
    border-radius: 50%;
    height: 40px;
    width:40px
}
