button{
    color:red;
    background-color:yellow;
    height:50px;
    width:50px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    cursor: pointer;
    margin-right: 9px;
    border-radius: 3px;
    border:2px solid rgb(173, 173, 31);
    transition: all 0.15s;
}
button:hover{
    box-shadow: 5px 5px 13px blueviolet;
}
button:active{
    background-color: rgb(252, 252, 76);
}
sup{
    vertical-align: 15px;
}
#tab{
    height: 50px;
    width:78px
}
#capslock{
    height: 50px;
    width: 92px;
}
#spacebar-button{
    height: 50px;
    width:314px;
    color:yellow
}
#shift{
    height: 50px;
    width:108px;
}
#windows{
    height: 20px;
    width: 20px;
    mix-blend-mode: multiply;
}
#uparrow{
    height:25px;
    width:50px;
}
#downarrow{
    height: 25px;
    width: 50px;
}
.backspace{
    color:red;
    background-color:yellow;
    height:50px;
    width:90px;
    font-size: small
}
.dropbtn {
    background-color:blueviolet;
    margin-left: -50px;
    color: white;
    padding: 16px;
    width: 160px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: blueviolet;}

.textarea-style{
    background-color:rgb(192, 188, 188);
    color:white;
    border: none;
    height:140px;
    width:900px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:22px;
    border-radius: 10px;
}
.enter{
    height: 50px;
    width: 95px
}
.shift1{
    height: 50px;
    width: 138px;
}
.div1{
    margin:10px 530px}
#sign{
    height:50px;
    width:38px
}
body{
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    padding: 100px;
}
.textarea{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-shrink: 0;
}
.keyboard{
    background-color: rgb(253, 253, 117);
    height: 300px;
    border-radius:5px;
    width:870px;
    margin-left: 60px;
    padding-top: 10px;
    transition: all 0.15s;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content:center;
    border: 2px solid rgb(211, 211, 40);
}
.numbers,.alphabets,.alphabets1,.alphabets2,.spacebar{
    display: flex;
    flex:1;
    margin-bottom: 10px;
    flex-direction: row;
    row-gap: 12px;
    justify-content: center;
}
.arrow{
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
}
.header{
    margin-left: -9px;
    margin-top: -8px;
    background-color:blueviolet; 
    display: flex;
    flex: 1;
    justify-content: space-between;
    height:70px;
    border-radius: 5px;
    margin-right: -8px;
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    height:90px;
    z-index: 100;
}
.left-text{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.main-container{
    height:100px;
    margin-left: -8px;
    margin-top: -5px;
}
.right-section{
    display:flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.qwerty{
    background-color:blueviolet;
    width: 110px;
    border: none;
    padding: 10px;
    border-radius: 5px ;
    cursor: pointer;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.qwerty:active{
    background-color: blueviolet;
    color: white;
    border:none;
}
.layout{
    background-color: blueviolet;
    color: white;
    margin-right: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.layout:active{
    background-color: blueviolet;
    color: white;
    border: none;
}
.hamburger{
    font-size: 35px;
    margin-right:20px;
    align-items: center;
    margin-left: 30px;
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
    width:40px
}
